h3.section-title {
  font-size: 1rem;
  margin: 8px 0;
}

.product_dimensions_summary {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color, #efefef);
}

.product_dimensions_summary th,
.product_dimensions_summary td {
  border: 1px solid var(--border-color, #efefef);
  padding: 10px;
  text-align: center;
}

.product_dimensions_summary th {
  text-transform: capitalize;
  font-size: 1rem;
  background: var(--bg-color, #efefef);
  color: var(--text-color, #333);
}

.woocommerce div.product div.summary {
  padding: 1rem;
}