h3.section-title {
  font-size: 1rem;
  margin: 8px 0;
}

.product_dimensions_summary {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #efefef;
}

.product_dimensions_summary th,
.product_dimensions_summary td {
  border: 1px solid var(--color-border, #efefef);
  padding: 0 14px;
  text-align: center;
}

.product_dimensions_summary th {
  font-weight: inherit;
  text-transform: capitalize;
  font-size: 1rem;
  background: var(--color-background, #efefef);
  color: var(--color-text, #333);
}

.woocommerce div.product div.summary {
  padding: 4rem;
}

@media (max-width: 768px) {
  .product_dimensions_summary {
    width: 100%;
    border-collapse: collapse;
  }

  .product_dimensions_summary th,
  .product_dimensions_summary td {
    border: 1px solid #ccc;
    padding: 5px;
  }

  .product_dimensions_summary th {
    background-color: #eee;
    text-align: left;
  }

  /* Make the table display in two columns on mobile views */
  .product_dimensions_summary th,
  .product_dimensions_summary td {
    display: table-cell;
    float: none;
  }

  .woocommerce div.product div.summary {
    padding: 1.4rem;
  }
}